<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299777666773-j1aed31qorc0l9mqgn93fm4m7cmqli08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299777666773-j1aed31qorc0l9mqgn93fm4m7cmqli08</string>
	<key>API_KEY</key>
	<string>AIzaSyDiUC5wpsrhusUuGpg-ZGEhb0ZborQ9O68</string>
	<key>GCM_SENDER_ID</key>
	<string>299777666773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.randomninja.scrappy</string>
	<key>PROJECT_ID</key>
	<string>scrappy-df256</string>
	<key>STORAGE_BUCKET</key>
	<string>scrappy-df256.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299777666773:ios:c8166307c3f6c0fc8d3c5c</string>
	<key>DATABASE_URL</key>
	<string>https://scrappy-df256.firebaseio.com</string>
</dict>
</plist>